@using CarInsurance.Models;
@model List<Insuree>

<div class="container">
  <div class="row justify-content-center col-12 no-gutters">
    <h2 class="m-2 mb-4">Requested Quotes</h2>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email Address</th>
        <th scope="col">Quote</th>
      </tr>
    </thead>
    <tbody>

      @foreach (var customer in Model)
      {
        <tr>
          <td>
            @customer.FirstName
          </td>
          <td>
            @customer.LastName
          </td>
          <td>
            @customer.EmailAddress
          </td>
          <td>
            $@Math.Round(customer.Quote, 2)
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
